# SPDX-FileCopyrightText: © 2014 eloaders <eloaders@linux.pl>
#
# SPDX-License-Identifier: CC0-1.0
# ------------------------------------------------------------------------------

[submodule "libcpuid"]
  path = libcpuid
  url = https://github.com/anrieff/libcpuid.git
